.geral {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blackboard {
  min-width: 80%;
  max-width: 80%;
  min-height: 300px;
  background: #063930;
  border: 10px solid #e18a43;
  box-sizing: border-box;
  padding: 1rem;
}
#final_span {
  font-family: Arial;
  font-size: 18px;
  color: #fff;
}